<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ayathe.project.dietapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScheduleApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name="ayathe.project.dietapp.registerlogin.register.userDataInput.AfterRegistrationActivity"
            android:exported="false" />
        <activity
            android:name="ayathe.project.dietapp.fragments.homeactivity.HomeActivity"
            android:exported="false" />
        <activity
            android:name="ayathe.project.dietapp.registerlogin.activityreglog.LogRegActivity"
            android:exported="true" />
        <activity
            android:name="ayathe.project.dietapp.fragments.usersettings.ChangePersonalInfoActivity"
            android:exported="true" />
        <activity
            android:name="ayathe.project.dietapp.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>